<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Court Helper</title>
</head>
<body>

   <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <h1 id="bob"> CA Penal Code</h1>
       </div>
        </div>
    </div>

<% @crims.each do |crim| %>
    <tr>
      <br>
      <td>Statute: <%= crim.statute %></td><br>
      <br><td>Jury Instructions: <%= crim.juryinst %></td><br>
      <br><td>Notes: <%= crim.notes %></td><br>
      <br><td><%= link_to 'Destroy', crim_path(crim), method: :delete %></td><br>
    </tr>
  <% end %>
    


</body>


</html>