<h1>Results Here</h1> 

<p>
  <strong>Statute:</strong>
  <%= @crim.statute %>
</p>
 
<p>
  <strong>JuryInst:</strong>
  <%= @crim.juryinst %>
</p>

<p>
    <strong>Notes:</strong>
    <%= @crim.notes %>
</p>