

<div class="container" style="text-align:center">
<h1>Results Located</h1><br><br>

<br><p>
  <strong>Statute:</strong>
  <%= @crim.statute %>
</p>
 
<p>
  <strong>Jury Inustructions:</strong>
  <%= @crim.juryinst %>
</p>

<p>
    <strong>Notes:</strong>
    <%= @crim.notes %>
</p>
</div>


