<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Court Helper</title>
</head>
<body>

   <div class="center-block container">
        <div class="row">
            <div class="col-xs-12"> 
                <h1 id="bob"> Court Helper</h1><br>
                <h2>For Quick Legal References</h2>
       </div>
        </div>
    </div>

</body>
</html>