<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Court Helper</title>
</head>
<body>

   <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <h1> Court Helper <br> To assist your legal needs in court</h1>
       </div>
        </div>
    </div>

    <a href="/code/index">US Federal Code</a><br>
    <br><a href="/ca_law/index">Ca Law Search</a>

</body>
</html>